<?xml version='1.0' encoding='utf-8'?>
<widget id="com.settingconsultoria.InfCateterACORDEON" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"  xmlns:android = "http://schemas.android.com/apk/res/android">
    <name>InfCateter</name>
    <description>
        Información sellado cateter
    </description>
    <author email="settingcons@gmail.com" href="http://www.settingconsultoria.com">
        Setting Consultoria PhoneGap Team
    </author>
    <content src="index.html" />
	
    <preference name="permissions" value="none" /> 
    <preference name="phonegap-version" value="cli-6.5.0" /> <!-- abans value="cli-6.3.0" />-->
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="Fullscreen" value="false" />  <!--si se pone fullscreen a true se oculta la barra de estado de la parte superior -->
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" /> 
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="14" /> <!-- abans 7-->
	<preference name="android-targetSdkVersion" value="22" /> <!-- nou-->
	<preference name="tools-overrideLibrary" value="android.support.v4"/> <!-- nou-->
    <preference name="android-installLocation" value="auto" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeepRunning" value="true"/>
	<preference name="android-build-tool" value="ant|gradle" /> <!--"ant"-->
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />

	<feature name="http://api.phonegap.com/1.0/device" /> <!--en android funcionava sense aquesta-->
    <feature name="http://api.phonegap.com/1.0/media"/><!--en android funcionava sense aquesta-->
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
        <param name="ios-package" value="CDVFile" />
    </feature>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>

    <gap:plugin name="cordova-plugin-dialogs" source="npm" version="1.3.0"/>
    <gap:plugin name="cordova-plugin-file" source="npm"/>
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.6.0"/>
    <gap:plugin name="cordova-plugin-globalization" source="npm" version="1.0.4"/>
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.5.0"/>
    <!-- ocultar statusbar en ios -->
	<gap:plugin name="cordova-plugin-statusbar-hide-on-startup" source="npm"/>
	<gap:plugin name="cordova-plugin-file-opener2" source="npm"/>
	<gap:plugin name="cordova-plugin-fileopener" source="npm"/>
<gap:plugin name="cordova-plugin-splashscreen" source="npm" version="4.0.0"/>
    <!-- comentamos este para probar
	<gap:plugin name="cordova-plugin-whitelist" source="npm"/> -->
		
	
	
	<!-- IC para copiar directorios de carpetas de la App a carpetas del sistema -->
    <plugin spec="https://github.com/gkcgautam/Asset2SD.git" source="git" />
	 <plugin name="cordova-plugin-local-notifications-npm" spec="1.0.3" source="npm" />
	 
    <!--para que no abra más de una instancia en android-->
    <gap:config-file platform="android" parent="/manifest/application">
        <activity android:launchMode="singleInstance" />
    </gap:config-file>

	
	
    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon gap:platform="ios" height="57" src="icons/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="icons/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="icons/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="icons/ios/icon-72-2x.png" width="144" />
    <icon src="icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="splash.png" />
    <gap:splash src="icons/ios/Default-Landscape~ipad.png" width="1024" height="768" />
    <gap:splash src="icons/ios/Default-Portrait~ipad.png" width="768" height="1024" />
	
    <gap:splash src="icons/android/splash-ldpi_port_(200-320).png" gap:platform="android" gap:density="ldpi" gap:qualifier="port-ldpi"  />
    <gap:splash src="icons/android/splash-mdpi_port_(320-480).png" gap:platform="android" gap:density="mdpi" gap:qualifier="port-mdpi"/>
    <gap:splash src="icons/android/splash-hdpi_port_(480-800).png" gap:platform="android" gap:density="hdpi" gap:qualifier="port-hdpi"/>
    <gap:splash src="icons/android/splash-xhdpi_port_(720-1280).png" gap:platform="android" gap:density="xhdpi"  gap:qualifier="port-xhdpi"/>
    <gap:splash src="icons/android/splash-ldpi_land_(320-200).png" gap:platform="android" gap:density="ldpi" gap:qualifier="land-ldpi"  />
    <gap:splash src="icons/android/splash-mdpi_land_(480-320).png" gap:platform="android" gap:density="mdpi" gap:qualifier="land-mdpi"  />
    <gap:splash src="icons/android/splash-hdpi_land_(800-480).png" gap:platform="android" gap:density="hdpi" gap:qualifier="land-hdpi"/>
    <gap:splash src="icons/android/splash-xhdpi_land(1280-720).png" gap:platform="android" gap:density="xhdpi"  gap:qualifier="land-xhdpi" />
	
	 <access origin="*" />

</widget>
