/*HEADER*/

div.centerTable{
    text-align: center;
    background-color: #995BA5 !important;
   /* background-color: #A83587 !important;*/

    text-shadow: none !important;
    color: #fff !important;
}

div.centerTable table {
    margin: 0 auto;
    text-align: left;
}

.mi-cabecera {
    background-color: #A83587 !important;
    /*background-color: #CF7AA7 !important;*/
    text-shadow: none !important;
    color: #fff !important;
    height: 50px;
    vertical-align:inherit;
}

.mi-fondoPagina{
    background-repeat: round;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0px;
    margin:auto;
}

.mi-fondoPaginaTXT{
    border-style: none!important;
    background-repeat: round;
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    top: 0px;
}

.mi-fondoPaginaLINK{
    border-style: none!important;
    background-repeat: round;
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    top: 0px;
}

.mi-fondoTable{
    font-weight:normal;
    background-repeat: round;
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
    top: 0px;
}

.mi-fondoPaginaInicio{
    background-repeat: round;
    background-color: #FCFCFC;
    width: 50%;
    height: 50%;
    top: 0px;
    text-align:center;
    vertical-align:middle;
}
.mi-util{
    background-color:transparent;
    padding:2px;
    display: inherit;
}
.mi-util-ancho{
    width: 45px;
    text-align: center;
}
.mi-util a {
    background-color:transparent;
    padding:0px !important;
    display:block;
    text-decoration: none !important;
}

.tablacab {
    vertical-align: middle;
    margin: 0 auto;
    text-align:left;
    /*position: relative;
    top:1px;
    text-align: center;
    vertical-align: middle;*/
}

.mi-cab-menu {
    display:block;
    background-color: #f3f3f3;
    color:#333333 !important;
    font-weight:normal;
}
.mi-cab-menu img {
    width: 20px;
}

.mi-ul {
    list-style:none;
    text-decoration:none;
    font-weight: normal !important;
    padding-left : 1px;
}

.mi-selected {
    color:#79B6B7;
}
.mi-ul li {
    border-bottom:1px solid #fafafa;
}
.mi-ul li:hover {
    background-color: rgb(121, 182, 183) !important;
    font-weight: bold !important;
}

.mi-ul a {
    text-decoration: none;
    zoom: 1; /* IE7 */
    color:#333333 !important;
}

.mi-ul li a div{
    display: table;
}

.mi-ul li a div div{
    display: table-cell;
    font-weight: normal !important;
    vertical-align: middle;
}
.mi-ul li a div img{
    display: table-cell;
    vertical-align: middle;
}

.fondoTXT{
    background-color: #8B2E75 !important;
    color:#000000;
}
.mi-titulo-menu {
    display:block;
    background-color: #ffffff;
    color: #9F66A5 !important;
    /*color:#018986 !important; /*333333*/
    font-weight:normal;
}
#menuAcordeon ul{
       list-style:none;
       margin-left:0px;
       margin:0px;
       padding:0px;
       }
#contenidoAcordeon ul{
       list-style:none;
       margin:0px;
       padding:0px;
       }
#contenidoAcordeonInicial ul{
       list-style:none;
       margin:0px;
       padding:0px;
       }
.mi-farmacoUl {
    padding: 20px;
    font-size: 12px;
}

.mi-estiloUL{
    list-style:none;
}

#miHr {
    border: 2px solid #666; border-radius: 200px/5px; height: 0px; text-align: center;
}


#divContenido {
/*para Firefox*/
-moz-border-radius: 15px 15px 15px 15px;
/*para Safari y Chrome*/
-webkit-border-radius: 15px 15px 15px 15px;
/* para Opera */
border-radius: 15px 15px 15px 15px;
}

/*popupBasic*/

.mi-cabeceraPopup {
    background-color: #9F66A5 !important;
    /*background-color: #CF7AA7 !important;*/
    text-shadow: none !important;
    color: #fff !important;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.mi-tablaPopup {
    background-color: #FCFCFC !important;
}

